body {
    background-color: #fafafa;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #303030;
    }

    .mainAppBar {
        background-color: rgb(65, 65, 65) !important;
    }
}