body {
    background-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #303030;
    }

    .mainAppBar {
        background-color: rgb(65, 65, 65) !important;
    }
}